

* {
	background-color: black;
	font-family: "Chakra Petch";
	margin-top: 0px;
}

header {
	display: flex;
	justify-content: center;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: top;
	width: 100%;
	max-width: 1200px;
	z-index: 100;
}

.cc {
	border:none;
}

.logo {
	margin-top: 15px;
	align-items: top;
	justify-content: center;
	display: flex;
	position: relative;
}

.logo img {
	margin-top: 5px; /* Adjust the margin value as desired */
	margin-right: 15px; /* Optional: Add margin-right to create spacing between the image and the text */
}

.logo a {
	font-size: 40px;
  	color: #fff;
 	text-align: center;
  	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
	font-weight: bold;
	animation: bgColor 10s infinite linear;
	text-decoration: none;
	display:block;
	text-align: bottom;
	margin-top: 25px;
	margin-left: 25px;
}

nav ul {
	display: flex;
	list-style: none;
	margin-top: 10%;
	margin-right: 180px;
}

nav li {
	margin-right: 30px;
}

h1 {
	background-color: #fff;
}

nav a {
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}

.genre {
	color: grey;
	font-size: 20px;
}

.genre-list ul, .nav-container {
	position: fixed;
	z-index: 100px;
}

.genre-list ul {
	left: 30px;
	top: 30px;
	display: flex;
	flex-direction: column;
	margin-right: 15px;
	margin-top: 130px;
}
  

.genre-list li {
	margin-top: 15px;
	margin-block: 12px;
}

/* Add some styling to genre-list */
.genre-list a {
	border-radius: 15px;
	font-size: 15px;
	color: hsl(0, 0%, 100%);
	text-decoration: none;
}

.genre-list a:hover {
	background-color: #665e5e;
}

.genre-list a.active {
	background-color: #0077FF;
	color: #fff;
}

/* product */
.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 100px;
}

.product-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.product-item {
	width: 200px;
	height: 250px;
	background-color: gray;
	float: left;
	padding: 2px;
	padding-bottom: 75px;
	border: 2px solid rgb(8, 7, 7);
	background-clip: content-box; /* <---- */
	margin-right: 8px;
    -webkit-animation: blink 8.0s linear infinite;
    animation: blink 8.0s linear infinite;
	position: relative;
}

@keyframes blink {
    0% {
        box-shadow: 0 0 20px lightblue;
    }
    50% {
        box-shadow: 0 0 3px lightblue;
    }
    100% {
        box-shadow: 0 0 20px lightblue;
    }
}
@-webkit-keyframes blink {
    0% {
        box-shadow: 0 0 20px lightblue;
    }
    50% {
        box-shadow: 0 0 3px lightblue;
    }
    100% {
        box-shadow: 0 0 20px lightblue;
    }
}

.product-item:last-child {
	margin-right: 0;
}


.product-item img {
	width: auto;
	height: auto;
}

.product-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.product-info h3 {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

.product-info p {
	margin: 5px 0 0 0;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}
