.container {
  width: 1920px;
  height: 1080px;
  background-size: cover;
  background-position: center;
}

.text-green {
  color: floralwhite;
  font-size: 40px;
  background: transparent;
}

.text-blue {
  color: floralwhite;
  font-size: 20px;
  background-color: transparent;
}

.login-form-container {
  background-color: transparent;
  margin-top: 100px;
}

.form-group {
  background-color: transparent;
}

.font-weight-regular {
  color: floralwhite;
  background-color: transparent;
}

.password-input {
  background-color: transparent;
}

.password-toggle {
  background-color: transparent;
  color: gold;
}

.text-danger {
  color: rgb(11, 27, 30);
}

.btn {
  background-color: green;
}
