.profilePage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-image: url(https://media.istockphoto.com/id/1158734314/video/abstract-background.jpg?s=640x640&k=20&c=Yj9WUFCh4frKNkG6H1tvVL0EGz1bnVUkLSPrgVEIRxo=) !important;
}

.profilePage * {
  color: white;
}

.profilecc {
  margin-right: 800px;
  margin-top: 10px;
}

.profile-config p {
  font-size: 35px;
}

.profilePage .add {
  z-index: 1;
  margin-bottom: -140px;
  scale: 0.3;
}

.profilePage h1 {
  font-size: 30px;
  background-color: black;
}

.profilePage img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: fill;
  overflow: hidden;
}

.profilepage-name h2 {
  margin-top: 100px;
  margin-right: 20px;
}

.profilepage-name input,
.profilepage-name button {
  margin-top: 80px;
}

.nav-container-profile {
  margin-top: 35px;
  margin-right: 55px;
  position: fixed;
  justify-content: space-between;
}

.wishListCard {
  margin-left: -40px;
}

.wishListGame {
  height: 500px;
  overflow-y: auto;
}

.profilepage-name {
  display: flex;
}

.profilepage-name img {
  overflow: visible;
  scale: 0.2;
  margin-left: -25px;
  margin-top: 45px;
}

.add {
  cursor: pointer;
}

.profile-pic {
  margin-top: 80px;
  transform: scale(2.5);
}

.profile-config {
  display: flex;
  margin-right: auto;
  justify-content: space-between;
}

.profile-config > div {
  margin-left: 35px;
  margin-top: 50px;
  width: 500px;
}

.profile-config .profile {
  padding-left: 100px;
}

.pbackground {
  width: 200px;
  height: 200px;
  margin-left: -50px;
  margin-top: 30px;
  background-size: contain;
  position: absolute;
  z-index: -1;
  transform: scale(2);
}

.wishlistbackground {
  background-color: rgb(0, 213, 255);
  z-index: -1;
  transform: scale(1.2);
}

.profile-wishList {
  height: 100vh;
  width: 80vw;
  overflow-y: auto;
}
