.gameDetails {
  display: flex;
  height: 100vh;
  background-image: url(https://media.istockphoto.com/id/1158734314/video/abstract-background.jpg?s=640x640&k=20&c=Yj9WUFCh4frKNkG6H1tvVL0EGz1bnVUkLSPrgVEIRxo=) !important;
}

.gameDetails * {
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.gameDetails img {
  width: 450px;
  margin-right: 10px;
  padding: 20px;
}

.gameInfo {
  display: flex;
  flex-direction: column;
}

.gameDetails h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.gameDetails ul {
  flex-direction: row;
}

.gameDetails ul.horizontal-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.gameDetails p {
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.gameDetails li {
  margin-right: 10px;
}
