.profilePage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-image: url(https://media.istockphoto.com/id/1158734314/video/abstract-background.jpg?s=640x640&k=20&c=Yj9WUFCh4frKNkG6H1tvVL0EGz1bnVUkLSPrgVEIRxo=) !important;
  background-attachment: fixed;
}

.profilePage * {
  color: white;
}

.profilecc {
  margin-right: 700px;
  margin-top: 10px;
}


.profile-config p {
  font-size: 35px;
}

.profilePage .add {
  z-index: 1;
  margin-left: -80px;
  margin-bottom: -60px;
  scale: 0.3;
}

.profilePage h1 {
  font-size: 30px;
  background-color: black;
}

.profilePage img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: fill;
  overflow: hidden;
}

.profilepage-name input {
  margin-left: 2px;
  width: 150px;
}

.profilepage-name input,
.profilepage-name button {
  margin-top: 20px;
}

.nav-container-profile {
  margin-top: 35px;
  margin-right: 55px;
  position: fixed;
  justify-content: space-between;
}

.wishListCard {
  margin-left: -40px;
}

.wishListGame {
  height: 75vh;
  overflow-y: auto;
}

.profilePage .profile-config h2 {
  margin-top: 30px;
  margin-left: -20px;
  font-size: 20px;
}

.profilepage-name {
  display: flex;
}

.profilepage-name img {
  overflow: visible;
  scale: 0.2;
  margin-left: -30px;
  margin-top: -20px;
}

.add {
  cursor: pointer;
}

.profile-config {
  display: flex;
  margin-right: auto;
}

.profile-config > div {
  margin-left: 35px;
  margin-top: 50px;
  width: 500px;
}

.profile-config .profile {
  padding-left: 100px;
}

.profile-config .profile-wishList {
  margin-left: -100px;
}
